.container {
  display: flex;
  border: solid;
  width: 400px;
  height: auto;
  margin: 100px 30px 30px 30px;
}
.container-map {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.producer-card {
  text-align: center;
}
.searchbar-container {
  margin-top: 100px;
}
